# uniapp打包产物，永久不上传
ESP32S3-Drone-Project-APP/unpackage/
ESP32S3-Drone-Project-APP/node_modules/

# 安装包
ESP32S3-Drone-Project-APP/*.apk

# 本地密钥配置文件
ESP32S3-Drone-Project-APP/utils/config.js

# 系统/编辑器缓存
*.log
.DS_Store
.trae
.vscode/
